/* Global stylings */
body {
    background-color: black;
}

/* Center and style div */
.container {
    background-color: lightgray;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: thick double grey;
}

#result {
    
}

